#block{
    width: 200px;
    height: 300px;
    border: 2px solid rgb(3, 1, 2);
    border-radius: 15px;
    padding: 20px;
    background-color: pink;
}
#container{
width: 200px;
height: 200px;
border: 1px solid gray;
margin: 10px;
display: flex;
align-items: center;
justify-content: center;

}
.block .block-navigate{
    width: 100%;
    height: 50px;
    
    
}
#power-on{
    padding: 5px;
    width: 40px;
    height: 40px;
    background-color: green;
    float: left;
    border-radius: 50px;
}
#power-off{
    padding: 5px;
    width: 40px;
    height: 40px;
    background-color: red;
    float: right;
    border-radius: 50px;
    

}

.block .block-channel{
    padding: 10px;
    width: 100%;
    height: 200px;
    margin-left: 6px;
    margin-top: 10px;
}
.block .block-channel button{
    padding: 20px;
    margin: 2px;
    border: 1px solid red;
    border-radius: 50px;

}
